# Copy this file to phpstan.neon and replace {DRUPAL_DIR} with the directory of
# your Drupal project.

includes:
	- phpstan.neon.dist

parameters:
	scanDirectories:
		- {DRUPAL_DIR}/web/core/modules/file/src
	bootstrapFiles:
		- {DRUPAL_DIR}/vendor/autoload.php
