parameters:
	paths:
		- src
	bootstrapFiles:
		- vendor/autoload.php
	scanDirectories:
		- ../../src
	level: 9
	universalObjectCratesClasses:
		- Drupal\Core\Session\AccountInterface
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	checkUninitializedProperties: true
	checkMissingCallableSignature: true
	treatPhpDocTypesAsCertain: false
	exceptions:
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		checkedExceptionClasses:
			- \Assert\AssertionFailedException
		implicitThrows: false
	ignoreErrors:
		# Note paths are prefixed with ""*/" to work with inspections in PHPStorm because of:
		# https://youtrack.jetbrains.com/issue/WI-63891/PHPStan-ignoreErrors-configuration-isnt-working-with-inspections
		-
			message: '/^Parameter #1 \$value of static method Drupal\\civiremote_entity\\Api\\[^:]+::fromApiResultValue\(\) expects array\{.+\}, array<int\|string, mixed> given.$/'
			path: */Api/AbstractEntityApi.php

	tmpDir: .phpstan
